* {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: #f2f2f2;
}
input {
    outline: none;
    font-weight: bold;
}
button {
    border: 0;
    outline: none;
}